<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <div data-th-text="'Название: ' + ${book.title()}"></div>
    <div data-th-text="'Автор: ' + ${book.author()}"></div>
    <div data-th-text="'Год издания: ' + ${book.publishedYear()}"></div>
    <div data-th-text="'Уровень: ' + ${book.level()}"></div>
    <div data-th-text="'Количество страниц: ' + ${book.numberOfPage()}"></div>
    <div data-th-text="'Описание: ' + ${book.description()}"></div>
    <hr/>

    <a data-th-href="@{/books/{id}/edit(id=${book.id()})}">Редактировать</a>

    <hr/>

    <form data-th-method="POST" data-th-action="@{/books/{id}/delete(id=${book.id()})}">
        <input type="submit" value="Удалить"/>
    </form>
</body>
</html>