<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit book</title>
</head>
<body>
<form data-th-method="POST" data-th-action="@{/books/{id}/edit(id=${book.getId()})}" data-th-object="${book}">
    <label for="title">Book title</label>
    <input id="title" type="text" data-th-field="*{title}">
    <div style="color: red" data-th-if="${#fields.hasErrors('title')}" data-th-errors="*{title}">Title error</div>

    <br/>

    <label for="author">Author</label>
    <input id="author" type="text" data-th-field="*{author}">
    <div style="color: red" data-th-if="${#fields.hasErrors('author')}" data-th-errors="*{author}">Author error</div>

    <br/>

    <label for="publishedYear">published date</label>
    <input id="publishedYear" type="text" data-th-field="*{publishedYear}">
    <div style="color: red" data-th-if="${#fields.hasErrors('publishedYear')}" data-th-errors="*{publishedYear}">Year error</div>

    <br/>

    <label for="level">level</label>
    <input id="level" type="text" data-th-field="*{level}">
    <div style="color: red" data-th-if="${#fields.hasErrors('level')}" data-th-errors="*{level}">Level error</div>

    <br/>

    <label for="description">description</label>
    <input id="description" type="text" data-th-field="*{description}">
    <div style="color: red" data-th-if="${#fields.hasErrors('description')}" data-th-errors="*{description}">Description error</div>

    <br/>
    <hr/>

    <input type="submit" value="Edit book">
</form>
</body>
</html>